<template>
  <div>
    <v-btn color="info" @click="addingEntry = true">Add journal entry</v-btn>
    <div v-if="addingEntry">
      <v-form @submit.prevent="addEntry()">
        <v-text-field v-model="entry"></v-text-field>
        <v-btn type="submit">Save</v-btn>
      </v-form>
    </div>
    <h1>Expenses</h1>
    <div v-for="entry in journal" :key="journal.indexOf(entry)">
      {{ entry }}
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "Expenses",
  data() {
    return {
      addingEntry: false,
      entry: null
    };
  },
  computed: {
    ...mapState(["journal"])
  },
  methods: {
    ...mapMutations(["addJournalEntry"]),
    addEntry() {
      this.addJournalEntry(this.entry);
      this.entry = "";
    }
  }
};
</script>

<style scoped></style>
