<template>
  <div>
    <v-toolbar>
      <v-toolbar-side-icon @click="sideMenu = !sideMenu"></v-toolbar-side-icon>
      <v-toolbar-title>Open Accounting</v-toolbar-title>
    </v-toolbar>
    <v-navigation-drawer v-model="sideMenu" absolute temporary>
      <v-toolbar flat>
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              Navigation
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-divider></v-divider>

      <v-list dense class="pt-0">
        <v-list-tile v-for="item in items" :key="item.title" :to="item.route">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: "SideMenu",
  data() {
    return {
      sideMenu: false,
      items: [
        { title: "Home", icon: "dashboard", route: { name: "home" } },
        { title: "Expenses", icon: "euro_symbol", route: "expenses" },
        { title: "About", icon: "question_answer", route: "about" }
      ]
    };
  }
};
</script>
