<template>
  <v-app id="app">
    <side-menu></side-menu>
    <v-container>
      <router-view />
    </v-container>
  </v-app>
</template>

<script>
import SideMenu from "./components/SideMenu";

export default {
  components: { SideMenu }
};
</script>
